body {
    margin: 0;
    padding: 0;
}
  
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}
  
.bubble {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: bubble 5s ease-out;
    animation-fill-mode: forwards;
}
  
@keyframes bubble {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-200vh);
        opacity: 0;
    }
}
