.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
}