body {
    background: linear-gradient(to bottom right, #333, #666);
}

canvas {
    border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,+800%);
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #3e8e41;
  }