body {
    background-color: #000;
    overflow: hidden;
    transform-origin: center center;
    transition: transform 2s ease-in-out;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -2;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    animation: blur 10s infinite alternate;
}

@keyframes blur {
    from {
        filter: blur(10px);
    }

    to {
        filter: blur(20px);
    }
}